html *
{
   font-family: "Veranda", Geneva, sans-serif !important;
}



header {
    margin: -8px;
    background-color: black;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}

body {
    background-color:rgb(48,48,48);
}

.a-link{
  text-decoration: none;
}
.header-button {
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    margin-right: 16px!important;
    text-decoration: none;
    position: relative;
    bottom: 12px;
    text-decoration: none;
}
.header-button:hover {
    color: gray;
    text-decoration: none;
}

.home-image{
    alt:"Main Page";
    height:40px;
    resize: both;
    text-decoration: none;
}

.home-image:hover{
    opacity:0.5;
    text-decoration: none;
}

h1{
    color:white;
    margin-right: 16px;
}

p{
    color:white;
}

.tool-button{
    height:80px;
    resize: both;
    border: 0;
    text-decoration: none;

}

h2{
    color:white;
    margin-left: 32px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
}

span{
    color: white;
}

input {
    padding: 12px 8px;
    margin: 6px;
    box-sizing: border-box;
    background-color: rgb(48,48,48);
    color: white;
    border: 3px solid gray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid green;
}

.section{
    width: 480px;
}

.var{
    border:3px solid black;
    margin-left: 0px;
    margin-bottom: 5px;
    width: fit-content;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.equation{
    width: 480px;
}
.equation-input{
    width: 468px;
}
@media only screen and (min-width: 1050px) {
    .section{
        width: 980px;
    }
    .var{
        margin-left: 10px;
    }
    .equation-input{
        width: 964px;
    }
}
