html *
{
   font-family: "Veranda", Geneva, sans-serif !important;
}



header {
    margin: -8px;
    background-color: black;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}

body {
    background-color:rgb(48,48,48);
}

.a-link{
  text-decoration: none;
}
.header-button {
    color: white;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    margin-right: 16px!important;
    text-decoration: none;
    position: relative;
    bottom: 12px;
    text-decoration: none;
}
.header-button:hover {
    color: gray;
    text-decoration: none;
}

.home-image{
    alt:"Main Page";
    height:40px;
    resize: both;
    text-decoration: none;
}

.home-image:hover{
    opacity:0.5;
    text-decoration: none;
}

h1{
    color:white;
    margin-right: 16px;
}

p{
    color:white;
}

.tool-button{
    height:80px;
    resize: both;
    border: 0;
    text-decoration: none;

}

h2{
    color:white;
    margin-left: 32px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
}

span{
    color: white;
}

input {
    padding: 12px 8px;
    margin: 6px;
    box-sizing: border-box;
    background-color: rgb(48,48,48);
    color: white;
    border: 3px solid gray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.text-input {
    padding: 12px 8px;
    margin: 6px;
    box-sizing: border-box;
    background-color: rgb(48,48,48);
    color: white;
    border: 3px solid gray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 100px;
}

input[type=text]:focus {
    border: 3px solid green;
}

.section{
    width: 480px;
}

.var{
    border:3px solid black;
    margin-left: 0px;
    margin-bottom: 5px;
    width: 468px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.calc-input{
    width: 192px;
}
.equation{
    width: 480px;
}
.equation-input{
    width: 468px;
}

.submit-form {
    background-color: rgb(70, 70, 70);
    border: 3px solid gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 468px;
  }


h3{
    color:white;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
    font-size: 20px;
}
.displaycontainer{
    display:block;
    width: fit-content;
}
.displaybody{
    width: 600px;
    margin-right: 20px;
}
.displayside{
    flex-grow: 0;
    margin-left: 30px;
    width: fit-content;
}
.displayside{
    margin-left: 4px;
    margin-top: 10px;
}
.displaycontent{
    margin-left: 10px;
    width: 460px;
    height: 260px;
}


a:link:not(.not-link) {
    color: rgb(139, 236, 231);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited:not(.not-link) {
    color: rgb(139, 236, 231);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover:not(.not-link) {
    color: rgb(96, 170, 166);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active:not(.not-link) {
    color: rgb(139, 236, 231);
    background-color: transparent;
    text-decoration: underline;
  }

.book-page{
    border:3px solid black;
    width: 350px;
    display:inline-block;
    margin: 6px;
}

.page-text{
    margin: 16px;
    width: 308px;
    height: 1800px;
}

.arrow{
    margin: 0;
    margin-top: 900px;
    color: none;
    border: 3px;
}
.left.arrow{
    float: left;
}
.right.arrow{
    float: right
}

.text-input{
    width: 468px;
}


@media only screen and (min-width: 1050px) {
    .section{
        width: 1200px;
    }
    .var{
        margin-left: 10px;
        width:578px
    }
    .calc-input{
        width: 246px;
    }
    .equation-input{
        width: 1186px;
    }
    .submit-form{
        width: 1186px;
    }
    .displaycontainer{
        display: flex;
    }
    .displayside{
        flex-grow: 1;
        margin-top: 0px;
        margin-left: 10px;
    }
    .displaycontent{
        width: 600px;
        height: 340px;
    }
    .book-page{
        width: 1070px;
    }
    .page-text{
        width: 1032px;
        height: 500px;
    }
    .arrow{
        margin-top: 250px;
    }
    .text-input{
        width: 1186px;
    }
}

